*__pycache__
*.ipynb_checkpoints/

# data holds the training/validation data, which we don't want to commit to version control
data/

# This directory holds the pretrained model, which is quite large
experiments/pretrained_model/

# Ignore the actual experiment directories
experiments/reference
experiments/improved
